<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.TC002_ValidateUrlIsNotBroken"/>
      <class name="test.TC004_CheckTitleOfAllMenu"/>
      <class name="test.TC005_ValidateLinkInBottomOfHomePage"/>
      <class name="test.TC008_SelAddItemShopByBrandMenu"/>
      <class name="test.TC009_CheckOutPageFilling"/>
      <class name="test.TC003_SignIn"/>
      <class name="test.TC006_SearchAddItemInCart"/>
      <class name="test.TC007_SelAddItemShopByDeptMenu"/>
      <class name="test.TC001_NavigatingtoBestBuy"/>
      <class name="test.TC003_CreateAccount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
